/*info about us section*/
.aboutPage {
    margin-top: 5rem ;
    color: #273A33;
}
.aboutPageTitle {
    font-weight: 600;
    font-size: 20px;
}

.aboutPageIntro {
    margin: 0 0 1.5rem 0;
    font-size: 16px;
}

.aboutPageImgContainer {
    margin: 0 auto;
    width: 65vw;
    height: 200px;
    overflow: hidden;
}
.aboutPageImageContainer img {
    padding: 0;
}

.aboutPageImageText {
    font-size: 12px;
    padding-top: 0.3rem;
    width: 65vw;
    margin: 0 auto;
    display: block;
}

/* get in touch section*/
.getInTouch {
    margin-top: 1.5rem;
}
.getInTouch a{
    color: #273A33;
    font-style: italic;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
}


/* images of daily life section*/
.articleTwo {
    margin-top: 2rem;
    padding: 4rem 0;
    background-color: #273a331f;
}

.articleTwoTitle {
    font-size: 20px;
}

.articleTwoSmallP {
    font-size: 16px;
    margin-top: 1.5rem;
}
.articleTwoP{
    margin-bottom: 1.5rem;
    font-weight: 400;
    font-size: 16px;
}

#photographsDailyWrap {
   flex-wrap: wrap;
   padding: 0 0.5rem;
}
.socialImageWidth {
    width: 100%;
    aspect-ratio: 1 / 1;  
    object-fit: cover;
    padding: 0.3rem;
}

.social-image-container {
    padding: 0;
}

/* social media links section*/
.socialMediaP {
    font-size: 16px;
}

.socialMediaArticle {
    padding: 0 1.5rem 0 1.5rem;
    text-align: center;
}

.socialMediaArticle .container {
    padding: 3rem 6rem;
}

.socialMediaTitle {
    font-size: 20px;
}
.socialMediaContainer {
    margin-top: 1rem;
}
.socialMediaContainer .col-12 {
    padding: 0.5rem;
}
.linkToSoMe {
    cursor: pointer;
    text-decoration: none;
    color: #1f1f1fc5;
    font-size: 16px;
    font-style: italic;
}

.linkToSoMe:hover{
    color: #1e1e1efa;
    transition: 0.3s ease-in-out;
    
}


@media only screen and (min-width: 667px) {
    .aboutPageImgContainer,
    .aboutPageImageText {
        width: 45vw;
    }
    .aboutPageImgContainer img {
        padding: 0;
    }

    .aboutUs {
        width: 65vw;
        margin: 0 auto;
    }
     
}
@media only screen and (min-width: 992px) {
    .articleTwo .container {
        width: 65vw;
    }
}