.globalFooter {
    color: #000;
    padding: 2rem 0;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}

.globalFooter .row {
    align-items: center;
}
.globalFooter .col-12 {
    padding-top: 0.3rem;
}

.globalFooter .contactUs {
    text-decoration: none;
}


.websiteBy {
    margin-top: 4rem;
}
/* --------- SoMe icon -------*/
.globalFooter .soMe a{
    padding: 0 1rem 0 1rem;
    color: black;
    cursor: pointer;
}

.svg-inline--fa {
    height: 20px;
}



@media only screen and (min-width: 992px) {
    .globalFooterCopyright,
    .globalFooter .soMe {
 
        margin: 0 auto;
    }


}