
/* ------ button extra margin applies to contact & prices article --------*/
.btn-extra-margin {
    margin-top: 1rem;
}


/* ------------ top content landing page -------------*/
.landingImage {
    background-image: url("../img//banner/landing-intro-image.JPG"); 
    background-size: cover;
    background-position: bottom;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-position-y: center;
}
.landingPageIntro{
    margin: 3rem 0;
}
.landingPageIntroText {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    line-height: 1.4;
}
.textSpan {
    display: block;
}


/* ----------- earlier work / portfolio article ---------------- */
.articleContainerText {
color: #fff;
padding: 4rem 2rem;
}

.blue {
    background-color: #38606ac9;
    height: 300px;
}
.articleTitle {
    font-size: 20px;
    font-weight: 300;
}
.articleP, .articleBtn {
    font-size: 16px;
}
.articleBtn{
    text-decoration: none;
    cursor: pointer;
}
.btn-italic{
    font-style: italic;
    font-weight: 500;
}
.btn-black{
    color: #000;
}

.portfolioImageContainer{
    overflow: hidden;
    height: 300px;
}
.divForImage {
    overflow: hidden;
    height: 300px;
}

.divForImage img {
    width: 100vw;
}


/* ----------prices article --------------*/
.articlePrices {
    margin: 3rem 0;
    color: black;
}
.articlePrices .container {
    padding: 0 2rem;
}

/* ---------- contact us, check out magazine Kontakt article -----------*/
.articleContainerText.brown {
background-color: #8A857A;
height: 300px;
}

.btn-white-contact {
    display: block;
    color: #fff;
    font-weight: 500;
    font-style: italic;
    padding: 0.3rem 0;
}


@media only screen and (min-width: 575px) {
    .col-no-padding {
        padding: 0;
    }
   
}
@media only screen and (min-width: 667px) {
    .col-no-padding {
        padding: 0;
    }
    
}

@media only screen and (min-width: 990px) {
    .landingPageContainer {
        width: 70vw;
        margin: 0 auto;
    }
}